flows2.json
[
    {
        "id": "dc8a9bb198d1fc9b",
        "type": "tab",
        "label": "Flow 2.2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9c8028b141011ee4",
        "type": "inject",
        "z": "dc8a9bb198d1fc9b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "c293b7f4011d586a"
            ]
        ]
    },
    {
        "id": "e1b50b36f1cd90c8",
        "type": "debug",
        "z": "dc8a9bb198d1fc9b",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 100,
        "wires": []
    },
    {
        "id": "c293b7f4011d586a",
        "type": "function",
        "z": "dc8a9bb198d1fc9b",
        "name": "function 1",
        "func": "var date = new Date(msg.payload);\nmsg.payload = date.toString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 100,
        "wires": [
            [
                "e1b50b36f1cd90c8"
            ]
        ]
    }
]